<!DOCTYPE HTML>
<html>
<head>
  <title>Index</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <!-- inject:css -->
  <link rel="stylesheet" type="text/css" href="/assets/css/vendors-2078d2bc2398.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/index-5007943f2120.css" />
  <!-- endinject -->
</head>
<body>
  <h1>Weclcome index!</h1>
  <p>
    <img id="p1" />
  </p>
  <!-- inject:js -->
  <script type="text/javascript" src="/assets/js/lib-e0300767e8d8.js"></script>
  <script type="text/javascript" src="/assets/js/vendors-5e67479bfbc7.js"></script>
  <script type="text/javascript" src="/assets/js/index-8d18a6da23de.js"></script>
  <!-- endinject -->
</body>
</html>
