<!DOCTYPE HTML>
<html>
<head>
  <title>Products</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <!-- inject:css -->
  <link rel="stylesheet" type="text/css" href="/assets/css/vendors.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/products.css" />
  <!-- endinject -->
</head>
<body>
  <h1>Weclcome products!</h1>
  <!-- inject:js -->
  <script type="text/javascript" src="/assets/js/lib.js"></script>
  <script type="text/javascript" src="/assets/js/vendors.js"></script>
  <script type="text/javascript" src="/assets/js/products.js"></script>
  <!-- endinject -->
</body>
</html>
