<!DOCTYPE HTML>
<html>
<head>
  <title>Products</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <!-- inject:css -->
  <link rel="stylesheet" type="text/css" href="/assets/css/vendors-2078d2bc2398.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/products-7cc98ad0ff2e.css" />
  <!-- endinject -->
</head>
<body>
  <h1>Weclcome products!</h1>
  <!-- inject:js -->
  <script type="text/javascript" src="/assets/js/lib-e0300767e8d8.js"></script>
  <script type="text/javascript" src="/assets/js/vendors-5e67479bfbc7.js"></script>
  <script type="text/javascript" src="/assets/js/products-66f0558b476a.js"></script>
  <!-- endinject -->
</body>
</html>
