<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
</head>
<body>
  <p>向来痴，从此醉。</p>
  <p id="hello"></p>
  <p>
    <button id="asyncButton">async load scripts</button>
  </p>
  <script src="../../../public/js/lib-3fb8d292.js" th-data-src="@{/public/js/lib-3fb8d292.js}"></script>
  <script src="../../../public/js/vendors-15d44ee8.js" th-data-src="@{/public/js/vendors-15d44ee8.js}"></script>
  <script src="../../../public/js/index-2fcae7fa.js" th-data-src="@{/public/js/index-2fcae7fa.js}"></script>
</body>
</html>
