<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="../../../public/css/index.css">
</head>
<body>
  <p>向来痴，从此醉。</p>
  <p id="hello"></p>
  <p>
    <button id="asyncButton">async load scripts</button>
  </p>
  <!--密码强度插件-->
  <form id="myform">
		<p>
			<label>密码强度测试</label>
			<input type="password" id="myPassword" name="" value="">
		</p>
	</form>
  <script src="../../../public/js/lib-8cbf617d.js" th-data-src="@{/public/js/lib-8cbf617d.js}"></script>
  <script src="../../../public/js/vendors-999986c5.js" th-data-src="@{/public/js/vendors-999986c5.js}"></script>
  <script src="../../../public/js/index-496cd0e3.js" th-data-src="@{/public/js/index-496cd0e3.js}"></script>
</body>
</html>
